<div class="jumbotron mt-4 bg-light">
    <h1 class="display-4">Notes App Nodejs and Mongo DB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi ut ex eveniet corporis tenetur animi? Eaque delectus cupiditate cum rerum.
    </p>
    <a href="#" class="btn btn-primary btn-lg">
        Cristian
    </a>
</div>